<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="German-owned Hochlandrinder Bauer">
    <meta name="keywords" content="metzgerei, rindfleisch, german butcher, ribs, steaks,Agricultural Service">
    <meta name="author" content="Donald E. Campbell II">
    <title>Hochlandrinder von Ehesbach</title>
    <link rel="stylesheet" href="CSS/HVEstyle.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../js/sidebar.js"></script>
    
</head>
<body>
        <nav class="navbar">
            <a class="hamburger" href="#" onclick="openSideMenu()">
                <svg width="50" height="50">
                    <path d="M0,5 30,5" stroke='#fff' stroke-width="5"/>
                    <path d="M0,14 30,14" stroke='#fff' stroke-width="5"/>
                    <path d="M0,23 30,23" stroke='#fff' stroke-width="5"/>
                </svg>
            </a>   

            <span class="open-slide">
                <span class="logo">
                <img src="../img/HVE2.png" alt="Hochlandrinder logo"> 
            </span>           
            <h1 id="title">Hochlandrinder von Ehesbach</h1>              
            </span>           
             
        </nav>

        <div id="side-menu" class="side-nav">
            <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
            <a href="index.html">Home</a>
            <a href="pages/preisliste.html">Preisliste</a>
            <a href="pages/about.html">&Uuml;ber uns</a>
            <a href="mailto:von-ehesbach@web.de">Kontakt</a>
        </div>

       <!-- Slideshow Showcase-->
       
       
       
       
       
       <!--
                <div class="carousel">
                <button class="carousel__button carousel__button--left"> 
                    <img src="img/left-arrow.png" alt="">
                </button>
                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        <li class="carousel__slide">
                            <img class="carousel__image"src="img/HVE_Meat1.jpg" alt="">
                        </li>
                        <li class="carousel__slide">
                            <img class="carousel__image"src="img/HVE_Meat2.jpg" alt="">
                        </li>
                        <li class="carousel__slide">
                            <img class="carousel__image"src="img/HVE_Meat3.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <button class="carousel__button carousel__button--right"> 
                    <img src="img/right-arrow.png" alt="">
                </button>                 
            </div>

         -->
            

            <!-- Footer Bar-->

        <footer class="footer-bar">
            <p class="footer">
                <a href="https://www.facebook.com/EhesbachRanch" id="HVElink">Hochlandrinder von Ehesbach &copy; 2021</a> <br>
                Alexander Millinger Schulstraße 11, Lichtenstein Telefon: 0176/62527917 Steuernr. 78 085 03799<br>
                <a href="mailto:dcam1972@live.com" id="dcamlink">Website designed by D-Cam.</a>
            </p>
        </footer>
 </body>
</html>
